.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-gray-light);
  padding: 1rem;
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.15);
}

.card__title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  overflow: hidden;
  border-bottom: 2px solid var(--color-primary);
}

.card__content-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.card__content-container * {
  font-size: 0.8rem;
}

.card:hover {
  background-color: var(--color-gray-medium);
  color: var(--color-white);
}

.link {
  color: var(--color-primary);
  font-weight: 600;
}

.link:hover {
  color: var(--color-white);
  font-weight: 600;
}
